@import "../../../assets/scss/index";

div button.btn-me {
  width: 112.5px;
  height: $height-el;
  border-radius: 30px;
  background-color: $default-color;
  outline: none;
  border: 1px solid $default-color;
  box-shadow: 3px 3px 10px 0 rgba($color: $default-color, $alpha: 0.4);
  color: white;
  margin: $margin-el;
  &:hover {
    background-color: rgba($color: $default-color, $alpha: 0.7);
    border: 1px solid rgba($color: $default-color, $alpha: 0.7);
    cursor: pointer;
  }
}

div button.btn-me-daf {
  width: 112.5px;
  height: $height-el;
  border-radius: 30px;
  border: 1px solid white;
  outline: none;
  background-color: white;
  font-size: 12px;
  color: $dark;
  margin: $margin-el;
}
