.container-home {
  width: 1200px;
  margin: auto;
  padding: 50px;
  height: 500px;
  display: grid;
  grid-template-areas: "content img";
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.count {
  font-size: 20px;
}
.content-a {
  grid-area: content;
}
.content-a .img {
  grid-area: img;
  display: flex;
  align-items: center;
}
