@import "../../../assets/scss/index";

.input-me {
  border: $border-me;
  height: $height-el;
  border-radius: 30px;
  width: 250px;
  color: black;
  text-align: center;
  text-decoration: none;
  &::placeholder {
    color: $smoot;
  }
}

div.container-in {
  margin: $margin-el;
}
